# Archivos de compilación y dependencias
**/bin/
**/obj/
**/packages/
*.user
*.suo

# Configuración de IDE
.vscode/
.idea/

# Archivos de log
*.log

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Configuración sensible
appsettings*.json
SEG.Api.Seguridad/.vs/ProjectEvaluation/seg.api.seguridad.metadata.v10.bin
SEG.Api.Seguridad/.vs/ProjectEvaluation/seg.api.seguridad.projects.v10.bin
SEG.Api.Seguridad/.vs/ProjectEvaluation/seg.api.seguridad.strings.v10.bin
SEG.Api.Seguridad/.vs/SEG.Api.Seguridad/DesignTimeBuild/.dtbcache.v2
SEG.Api.Seguridad/.vs/SEG.Api.Seguridad/FileContentIndex/1486c8e8-203e-43ae-a15b-4a849d702cf2.vsidx
SEG.Api.Seguridad/.vs/SEG.Api.Seguridad/FileContentIndex/1c28a2c5-06dc-401d-b8b6-fc3ec3ba5dc8.vsidx
SEG.Api.Seguridad/.vs/SEG.Api.Seguridad/v18/.futdcache.v2
SEG.Api.Seguridad/.vs/SEG.Api.Seguridad/v18/DocumentLayout.backup.json
SEG.Api.Seguridad/.vs/SEG.Api.Seguridad/v18/DocumentLayout.json
SEG.Dtos/.vs/ProjectEvaluation/seg.dtos.metadata.v10.bin
SEG.Dtos/.vs/ProjectEvaluation/seg.dtos.projects.v10.bin
SEG.Dtos/.vs/ProjectEvaluation/seg.dtos.strings.v10.bin
SEG.Dtos/.vs/SEG.Dtos/CopilotIndices/18.5.39150.21849/CodeChunks.db
SEG.Dtos/.vs/SEG.Dtos/CopilotIndices/18.5.39150.21849/SemanticSymbols.db
SEG.Dtos/.vs/SEG.Dtos/FileContentIndex/6d9093fc-6449-4322-92c5-965519d4f672.vsidx
SEG.Dtos/.vs/SEG.Dtos/v18/.futdcache.v2
SEG.Dtos/.vs/SEG.Dtos/v18/DocumentLayout.backup.json
SEG.Dtos/.vs/SEG.Dtos/v18/DocumentLayout.json
SEG.Api.Seguridad/.vs/SEG.Api.Seguridad/FileContentIndex/3dd5a206-d355-4b9a-b491-9abcf87d91e3.vsidx
SEG.Api.Seguridad/.vs/SEG.Api.Seguridad/FileContentIndex/b073da25-cd1b-410b-9bd1-dd354c8d9af5.vsidx
